---
- name: Install and Configure Zabbix Agent
  hosts: webserver
  become: yes

  tasks:
    - name: Install Zabbix Agent
      apt:
        name: zabbix-agent
        state: present
        update_cache: yes

    - name: Set Zabbix Server IP in config
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: '^Server='
        line: "Server={{ zabbix_server_ip }}"
      notify: Restart Zabbix Agent

    - name: Set Zabbix Active Server IP in config
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: '^ServerActive='
        line: "ServerActive={{ zabbix_server_ip }}"
      notify: Restart Zabbix Agent

    - name: Set Hostname to dockeradmin
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: '^Hostname='
        line: "Hostname=dockeradmin"
      notify: Restart Zabbix Agent

    - name: Ensure Zabbix Agent is enabled and running
      service:
        name: zabbix-agent
        state: started
        enabled: yes

  handlers:
    - name: Restart Zabbix Agent
      service:
        name: zabbix-agent
        state: restarted